.product_card {
  max-width: 100%;
  position: relative;
  transition: 0.8s;
  background: #f4f5f7;
}
.product_card:hover .pc_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3a3a3a;
  z-index: 2;
  opacity: 0.6;
  transition: 0.8s;
}
.pc_images {
  position: relative;
}
.pci_img a {
  display: block;
}
.pci_img a img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.pci_discount {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e97171;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
}
.pci_add {
  position: absolute;
  top: 175px;
  left: 33px;
  text-align: center;
  display: none;
  z-index: 2;
  transition: 0.8s;
}

.pci_share ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 20px;
}
.pci_share li {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}
.pc_info {
  /* margin-left: 16px; */
  padding: 16px 20px 30px 16px;
}
.pci_name {
  margin-top: 16px;
  margin-bottom: 8px;
}
.pci_name a {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: #3a3a3a;
  text-decoration: none;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  display: block;
}
.pci_stylish {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #898989;
  margin-bottom: 8px;
}
.pci_price span {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #3a3a3a;
}
.pci_price del {
  margin-left: 16px;
  color: #b0b0b0;
}
.product_card:hover .pci_add {
  display: block;
  transition: 0.8s;
}
.pci_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
